streamlit
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-text-splitters==0.3.2
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb

# --- QUAN TRỌNG: Fix lỗi Database trên Linux/Cloud ---
pysqlite3-binary 

pypdf
pdf2image
pytesseract
pandas
openpyxl
sentence-transformers
